<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1YbO7XwYL72-jzxGiR4x_AmZv1tuCMPY</string>
	<key>GCM_SENDER_ID</key>
	<string>284039255803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.languageLearningApp</string>
	<key>PROJECT_ID</key>
	<string>langlearn-6d3b8</string>
	<key>STORAGE_BUCKET</key>
	<string>langlearn-6d3b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284039255803:ios:9ef501e510cfe0b96c825e</string>
</dict>
</plist>